.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    display: flex;
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

.underline{
    width: 30%;
    height: 6px;
    background-color: #3c009d;
    border-radius: 6px;
    margin-top: 10px;
}

.inputs{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top : 27px;
/*     color: #797979; */
    font-size: 18px;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.action-container{
    display: flex;
    gap: 30px;
}

.action-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    cursor: pointer;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.grey{
    background: #eaeaea;
    color: #676767
}